:root {
   --card-radius: 22px;
   --card-shadow: 0 18px 35px rgba(0, 0, 0, 0.2);
   --modal-radius: 26px;
   --primary-text: #1a1a1a;
}

/* ========== Typenfarben ========== */
:root {
   --bug-bg: linear-gradient(135deg, #83ad25, #ddff93);
   --bug-text: #ffffff;

   --dark-bg: linear-gradient(135deg, #463e3e, #949494);
   --dark-text: #ffffff;

   --dragon-bg: linear-gradient(135deg, #4d64ab, #a1b9ff);
   --dragon-text: #ffffff;

   --electric-bg: linear-gradient(135deg, #e5c600, #fceabb);
   --electric-text: #ffffff;

   --fairy-bg: linear-gradient(135deg, #d480cf, #fad0c4);
   --fairy-text: #ffffff;

   --fighting-bg: linear-gradient(135deg, #a84c3d, #ffbaa1);
   --fighting-text: #ffffff;

   --fire-bg: linear-gradient(135deg, #e53b19, #fdae5e);
   --fire-text: #ffffff;

   --flying-bg: linear-gradient(135deg, #87b5e5, #acd4ff);
   --flying-text: #ffffff;

   --ghost-bg: linear-gradient(135deg, #633c64, #fd88ff);
   --ghost-text: #ffffff;

   --grass-bg: linear-gradient(135deg, #58a951, #b1e69a);
   --grass-text: #ffffff;

   --ground-bg: linear-gradient(135deg, #956833, #ffd194);
   --ground-text: #ffffff;

   --ice-bg: linear-gradient(135deg, #68baac, #aafff1);
   --ice-text: #ffffff;

   --normal-bg: linear-gradient(135deg, #a8a899, #ffffcd);
   --normal-text: #ffffff;

   --poison-bg: linear-gradient(135deg, #864ab8, #f395ff);
   --poison-text: #ffffff;

   --psychic-bg: linear-gradient(135deg, #e55973, #ff9cc5);
   --psychic-text: #ffffff;

   --rock-bg: linear-gradient(135deg, #a8995b, #ffd391);
   --rock-text: #ffffff;

   --steel-bg: linear-gradient(135deg, #9999a8, #aeaeff);
   --steel-text: #ffffff;

   --water-bg: linear-gradient(135deg, #278bcc, #98d6ff);
   --water-text: #ffffff;
}
